/*
.slider-item-name {
  font-size: 60px;
  line-height: 72px;
  color: #ffffff;
  font-weight: bold;
}

.offer-title {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
}
*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #849d8f;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 0px;
  /*Только для оформления сетки*/
  outline: 1px solid hotpink;
}

.container {
  width: 1200px;
  padding: 0 27.6px;
  margin: 0 auto;
}

.menu-logo {
  float: left;
}

.main-navigation {
  float: left;
  width: 500px;
  /*Только для оформления сетки*/
  outline: 1px solid greenyellow;
}

.catalog {
  display: none;
}

.user-block {
  float: right;
  width: 400px;
  /*Только для оформления сетки*/
  outline: 1px solid greenyellow;
}

.order {
  display: none;
}

.search-form,
.login-form {
  display: none;
}

.header-info {
  float: right;
  width: 250px;
  margin-top: 20px;
  /*Только для оформления сетки*/
  outline: 1px solid greenyellow;
}

.slider {
  /*Только для оформления сетки*/
  outline: 1px solid green;
}

.slider-item {
  display: none;
  width: auto;
  text-align: center;
}

.slider-item:first-child {
  display: block;
}

.offer {
  margin-bottom: 40px;
  /*Только для оформления сетки*/
  outline: 1px solid red;
}

.offer-left {
  float: left;
  width: 560px;
  /*Только для оформления сетки*/
  outline: 1px solid yellow;
}

.offer-right {
  float: right;
  width: 560px;
  /*Только для оформления сетки*/
  outline: 1px solid yellow;
}

.hit-gallery {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /*Только для оформления сетки*/
  outline: 1px solid cyan;
}

.hit-gallery .gallery-item {
  width: 267px;
  margin-bottom: 40px;
  /*Только для оформления сетки*/
  outline: 1px solid red;
}


.gallery-item img {
  border-radius: 50%;
}

.about {
  margin-bottom: 40px;
  /*Только для оформления сетки*/
  outline: 1px solid salmon;
}

.blog {
  float: left;
  width: 560px;
  margin-bottom: 40px;
  /*Только для оформления сетки*/
  outline: 1px solid blue;
}

.subscribe {
  float: right;
  width: 560px;
  /*Только для оформления сетки*/
  outline: 1px solid lime;
}

.map {
  clear: both;
  /*Только для оформления сетки*/
  outline: 1px solid red;
  min-height: 350px;
}

.address {
  float: right;
  width: 300px;
  /*Только для оформления сетки*/
  outline: 1px solid blue;
}

.feedback {
  display: none;
}

.main-footer {
  padding-top: 35px;
  padding-bottom: 30px;
  /*Только для оформления сетки*/
  outline: 1px solid aqua;
}

.footer-social {
  float: left;
  width: 267px;
  margin-right: 26px;
  /*Только для оформления сетки*/
  outline: 1px solid orange;
}

.footer-info {
  float: left;
  width: 400px;
  /*Только для оформления сетки*/
  outline: 1px solid orange;
}

.footer-copyright {
  float: right;
  width: 267px;
  /*Только для оформления сетки*/
  outline: 1px solid orange;
}

.breadcrumbs {
  margin: 0;
  /*Только для оформления сетки*/
  outline: 1px solid red;
}

.choose-form {
  width: 880px;
  margin-bottom: 35px;
  /*Только для оформления сетки*/
  outline: 1px solid lawngreen;
}

.catalog-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
  /*Только для оформления сетки*/
  outline: 1px solid lawngreen;
}

.catalog-gallery .gallery-item {
  width: 267px;
  margin-bottom: 40px;
  /*Только для оформления сетки*/
  outline: 1px solid red;
}


.catalog-paginator {
  width: 267px;
  /*Только для оформления сетки*/
  outline: 1px solid yellow;
}









