*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;
}

.site-wrapper {
  min-width: 1240px;
  /*transition: background 3s ease;*/
}

.site-wrapper.catalog-page {
  background: #849d8f url("../img/light.png") no-repeat top center;
}


.site-wrapper-2 {
  min-width: 1240px;
}

.content-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  outline: 1px solid red;
}

.slider {
  position: relative;

  padding-top: 260px;
  margin-bottom: 25px;

  text-align: center;
  color: #ffffff;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;

  font-weight: 800;
  font-size: 60px;
  line-height: 72px;
}

.slide-btn {
  display: inline-block;
  padding: 12px 50px;

  font-weight: bold;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

body > input[type="radio"] {
  display: none;
}

.slide {
  display: none;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}



#btn-1:checked ~ .site-wrapper {
  background: #849d8f url("../img/slide-1.png") no-repeat top center;
}

#btn-2:checked ~ .site-wrapper {
  background: #8996a6 url("../img/slide-2.png") no-repeat top center;
}

#btn-3:checked ~ .site-wrapper {
  background: #9d8b84 url("../img/slide-3.png") no-repeat top center;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  color: #ffffff;
}



.menu-logo {
  float: left;
  margin-top: 9px;
  margin-right: 27px;
}

.main-navigation {
  float: left;
  width: 500px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  
  font-size: 16px;
  line-height: 18px;
  vertical-align: top;
}

.main-navigation a {
  position: relative;
  display: block;
  padding: 0;
  margin-top: 20px;
  margin-left: 15px;
  padding-top: 10px;
  margin-bottom: 30px;
  margin-right: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  
  color: #ffffff;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
}

.main-navigation a:hover {
  margin: 0;
  margin-top: 23px;
  margin-right: 12px;
  border-radius: 25px;
  padding: 7px 14px;
  
  background-color: #f7f6f3;
  color: #000000;
}


.active a::before {
  opacity: 0;
}

.main-navigation a:active {
  background-color: #ededed;
  color: #000000;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.active > a {
  margin: 0;
  margin-top: 23px;
  margin-right: 12px;
  border-radius: 20px;
  padding: 7px 14px;
  background-color: #d07058;
}

.catalog {
  position: relative;
}

.catalog > a {
  margin-bottom: 0;
}

.catalog .secondary {
  display: none;
}

.catalog:hover ul {
  display: block;
}

.secondary {
  position: absolute;
  z-index: 100;
  top: 61px;
  left: -8px;
  margin: 0;
  list-style: none;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}


.secondary li {
  display: block;
  position: relative;
}

.secondary a,
.secondary a:hover {
  width: 130px;
  border: none;
  display: block;
  padding: 0;
  margin: 0;
  margin-left: 6px;
  margin-right: 9px;
  padding-top: 8px;
  padding-left: 17px;
  padding-bottom: 8px;
  color: #000000;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  border-radius: 0;
}

.secondary li:first-child a,
.secondary li:first-child a:hover {
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 11px;
  cursor: default;
}

.secondary li:nth-child(2) a,
.secondary li:nth-child(2) a:hover {
  padding-top: 9px;
  padding-bottom: 8px;
}

.secondary li:last-child a,
.secondary li:last-child a:hover {
  padding-top: 7px;
  padding-bottom: 11px;
}

.secondary li:hover,
.secondary a:hover {
  background-color: #fbded7;
  color: #000000;
  font-weight: normal;
  border-radius: 0;
}

.secondary li:first-child a:hover,
.secondary li:first-child:hover {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: rgb(248, 247, 244);
}

.secondary li:last-child a:hover,
.secondary li:last-child:hover {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.secondary a:active,
.secondary li:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.secondary .current,
.current a,
.secondary .current:hover,
.current a:hover,
.secondary .current:active,
.current a:active {
  background-color: #d07058;
  cursor: default;
}

.user-block {
  float: right;
  width: 400px;
  margin-top: 23px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.search {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.search a, .login a, .cart a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}

.btn {
  display: inline-block;
  padding: 10px 23px;
  color: #ffffff;
  background-image: linear-gradient(0deg, #e74b36 0%, #f26843 100%);
  box-shadow: 0px 2px 2px 0px #9e4334;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 25px;
  
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.offer .btn {
  background-image: linear-gradient(0deg, #c93825 0%, #f06743 100%);
  box-shadow: 0px 2px 2px 0px #550800;
  text-shadow: none;
}


.btn:hover {
  background-image: linear-gradient(0deg, #ec6f5e 0%, #f58669 100%);
  box-shadow: 0px 1px 2px 0px #ac1000;
}

.btn:active {
  background-image: linear-gradient(0deg, #e1613e 0%, #d84732 100%);
  box-shadow: inset 0px 2px 2px 0px #952718;
}



/*Общие стили для ссылок 1*/

.gallery-item a,
.breadcrumbs a,
.footer-info a,
.footer-copyright a {
  padding: 0;
  margin: 0;
  color: #ffffff;
  text-decoration: none;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.gallery-item a:hover,
.gallery-item a:active,
.breadcrumbs a:hover,
.breadcrumbs a:active,
.footer-info a:hover,
.footer-info a:active,
.footer-copyright a:hover,
.footer-copyright a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

/*Общие стили для ссылок 2*/

.login-form a,
.blog a {
  padding: 0;
  margin: 0;
  color: #323232;
  text-decoration: none;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.login-form a:hover,
.login-form a:active,
.blog a:hover,
.blog a:active {
  color: #e84d37;
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

/*Общие стили для ссылок*/

.login > a, .cart > a {
  display: block;
  padding: 8px 0;
}

.login, .cart {
  border-radius: 16px;
  margin-left: 10px;
}


.search, .login, .cart {
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
}

.search-form {
  display: block;
  position: absolute;
  right: 0;
  top: 36px;
  padding: 20px 15px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}

.search-form input {
  width: 310px;
  padding: 9px 15px;
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #999999;
}

.login-form {
  display: block;
  position: absolute;
  right: -1px;
  top: 36px;
  padding-top: 22px;
  padding-left: 19px;
  padding-right: 17px;
  padding-bottom: 22px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 240px;
  margin-bottom: 20px;
  padding: 8px 15px;
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
  background-color: #ffffff;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #999999;
}

.login-form input[type="password"] {
  padding: 9px 15px;
}

.login-form a {
  font-size: 13px;
  line-height: 19px;
  font-weight: normal;
}

.login-form button {
  float: left;
  margin-right: 20px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
}

.search-form, .login-form, .empty .order, .not-empty .order {
  display: none;
}

.empty:hover .order {
  display: block;
}

.catalog:hover::after,
.search:hover::after,
.login:hover::after,
.cart:hover::after {
  position: absolute;
  right: 0;
  bottom: -5px;
  content: "";
  display: block;
  width: 110px;
  height: 10px;
  background-color: transparent;
}

.search:hover::after {
  width: 40px;
}

.catalog:hover::after {
  height: 25px;
  bottom: -20px;
}

.cart:hover::after {
  width: 130px;
}


.search:hover .search-form,
.login:hover .login-form,
.empty:hover .order,
.not-empty:hover .order {
  display: block;
  z-index: 100;
}

.search:hover, .login:hover, .empty:hover, .not-empty {
  background-color: rgba(255, 255, 255, 1);
}

.search::before {
  position: absolute;
  content: "";
  
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: transparent url("../img/sprite.png");
  background-position: -2px -550px;
}

.search:hover::before {
  background-position: -2px -587px;F
}

.login > a {
  padding-left: 45px;
  padding-right: 15px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.login::before {
  position: absolute;
  content: "";
  
  width: 45px;
  height: 32px;
  border-radius: 16px;
  
  background: transparent url("../img/sprite.png");
  background-position: 6px -474px;
}

.login:hover::before {
  background-position: 6px -513px;
}

.login:hover > a {
  color: #323232;
}

.empty {
  position: relative;
}

.empty > a {
  padding-left: 45px;
  padding-right: 35px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.empty::before {
  position: absolute;
  content: "";
  
  width: 45px;
  height: 32px;
  border-radius: 16px;
  background: transparent url("../img/sprite.png");
  background-position: 4px -393px;
}

.empty:hover::before {
  background-position: 4px -885px;
}

.empty:hover > a {
  color: #323232;
}

.empty .order {
  display: none;
  position: absolute;
  right: 0;
  top: 36px;
  padding: 15px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

.empty p {
  width: 290px;
  color: #323232;
  margin: 0;
  padding: 0;
}

.not-empty > a {
  padding-left: 45px;
  padding-right: 15px;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.not-empty::before {
  position: absolute;
  content: "";
  
  width: 45px;
  height: 32px;
  border-radius: 16px;
  
  background: transparent url("../img/sprite.png");
  background-position: 4px -433px;
}

.not-empty .order {
  position: absolute;
  color: #323232;
  width: 539px;
  right: 0;
  top: 36px;
  padding: 10px;
  padding-top: 30px;
  padding-right: 13px;
  padding-bottom: 20px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
}

.order-info {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.order-info td {
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  vertical-align: top;
}

.order-info tr::before, .order-info tr::after {
  content: "";
  position: absolute;
  left: 20px;
  width: 12px;
  height: 1px;
  background-color: rgb(53, 53, 53);
  cursor: pointer;
}

.order-info tr::before,
.order-info tr::after {
  top: 36px;
}

.order-info tr:last-child::before,
.order-info tr:last-child::after{
  top: 90px;  
}

.order-info tr::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.order-info tr::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.order-info td:nth-child(1) {
  width: 20px;
}

.order-info img {
  position: relative;
  left: 1px;
  top: -10px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.item-close {
  width: 20px;
  height: 20px;
}

.item-close:hover {
  cursor: pointer;
}

.order-info td:nth-child(2) {
  width: 58px;
  padding-left: 10px;
}

.order-info td:nth-child(3) {
  width: 246px;
  padding-right: 20px;
}

.order-info td:nth-child(4) {
  width: 125px;
  padding-right: 30px;
}

.not-empty .order::after {
  content: "";
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 110px;
  height: 1px;
  background-color: #cacac7;
}

.cart-price {
  color: #999999;
}

.cart-total {
  float: right;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.order .btn {
  clear: both;
  float: right;
  color: #ffffff;
  padding: 10px 14px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  background-image: linear-gradient(0deg, #e74b36 0%, #f26843 100%);
  box-shadow: 0px 1px 2px 0px #ac1000;
}



.header-info {
  float: right;
  width: 200px;
  font-weight: bold;
}

.header-info .time, .header-info .phone {
  float: right;
}

.header-info .phone {
  margin-top: 7px;
  font-size: 22px;
  line-height: 24px;
}

.offer {
  margin-bottom: 40px;
  color: #ffffff;
}

.offer-left {
  position: relative;
  float: left;
  width: 560px;
  padding-left: 20px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  
  background: #5d0e1c url("../img/bg-offer-left.jpg");
  background-position: -50px -90px;
  border-radius: 15px;
}

.offer-right {
  position: relative;
  float: right;
  width: 560px;
  padding-left: 20px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  
  background: #5d0e1c url("../img/bg-offer-right.jpg");
  border-radius: 12px;
  background-position: -50px -90px;
}

.offer-title {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.offer p {
  margin: 0;
  padding: 0;
  margin-bottom: 85px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.offer .btn {
  position: absolute;
  bottom: 23px;
  right: 21px;
  padding: 15px 25px;
}

.hit-gallery {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.gallery-item {
  position: relative;
  width: 289px;
  margin-left: -11px;
  padding-left: 11px;
  padding-right: 11px;
  margin-right: -11px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin-bottom: -65px;
  z-index: 100;
}

.hit-gallery .gallery-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 11px;
  display: block;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background-color: red;
  background: url(../img/sprite.png);
  background-position: -10px -43px;
}

.gallery-item img {
  width: 267px;
  height: 267px;
  border-radius: 50%;
  cursor: pointer;
}

.gallery-item .price {
  color: #ffffff;
  align-self: flex-start;
  position: absolute;
  top: 210px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.gallery-item span {
  color: #ffffff;
  font-size: 45px;
  line-height: 45px;
}

.gallery-item .kg {
  color: #ffffff;
  position: relative;
  bottom: 1px;
  font-size: 30px;
  line-height: 45px;
  padding-left: 32px;
}

.gallery-item .kg::before {
  content: "";
  position: absolute;
  left: 1px;
  top: -3px;
  display: block;
  width: 27px;
  height: 32px;
  background: url(../img/sprite.png);
  background-position: -10px -632px;
}

.gallery-item a {
  margin: 0;
  margin-top: 15px;
  line-height: 22px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.gallery-item a::before {
  opacity: 0.2;
}

.gallery-item a:hover::before {
  opacity: 0.2;
}

.gallery-item .view {
  display: none;
}

.btn.view {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  border-radius: 20px;
}

.gallery-item:hover .view {
  display: block;
  width: 200px;
  margin-top: auto;
  padding: 15px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.gallery-item:hover a {
  border: none;
}

.about {
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 25px;
  background: #eadcbf url("../img/bg-about.jpg");
  border-radius: 15px;
}

.about h4 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.about ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about li {
  position: relative;
  float: left;
  width: 540px;
  padding-left: 60px;
}

.about li:nth-child(2n) {
  float: right;
}

.about li::before {
  position: absolute;
  content: "";
  display: block;
  top: 15px;
  left: 0;
  width: 50px;
  height: 50px;
  background: url(../img/sprite.png);
}

.about li:nth-child(1)::before {
  background-position: -10px -124px;
}

.about li:nth-child(2)::before {
  background-position: -10px -262px;
}


.about li:nth-child(3)::before {
  background-position: -10px -193px;
}

.about li:nth-child(4)::before {
  background-position: -10px -331px;
}

.about p {
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.blog {
  float: left;
  width: 560px;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 35px;
  background: #ffffff url("../img/bg-blog.jpg");
  background-position: -55px -225px;
  border-radius: 15px;
}

.blog-text {
  margin-bottom: 40px;
  margin-right:  220px;
  padding: 0;
}

.blog h5 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog a {
  margin: 0;
  padding: 0;
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.subscribe {
  float: right;
  width: 560px;
  padding: 5px;
  background: #f8f7f4 url("../img/bg-subscribe.png");
  background-position: 0px 5px;
  border-radius: 15px;
}

.subscribe-inner {
  border-radius: 15px;
  background-color: #f8f7f4;
  padding-left: 20px;
  padding-top: 30px;
  padding-right: 22px;
  padding-bottom: 30px;
}

.subscribe p {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
}

.subscribe-form input {
  float: left;
  width: 340px;
  padding: 15px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  background-color: #ffffff;
}

.subscribe-form .btn {
  float: right;
}

.map {
  clear: both;
  background: url("../img/bg-map-pin.jpg") no-repeat;
  background-position: center -105px;
}

.address {
  float: right;
  width: 310px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 15px;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
  background-color: #fefefe;
}

.address h4, .address h5 {
  margin: 0;
  padding: 0;
  margin-right: 50px;
  margin-bottom: 5px;
  
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}

.address h4 {
  padding-right: 50px;
}

.address h5 {
  margin-top: 20px;
}

.address b {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 5px;
}

.address span {
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal; 
}

.address .btn {
  margin-top: 30px;
}

.modal-feedback {
  position: fixed;
  display: none;
  z-index: 155;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  clear: both;
  width: 480px;
  padding-top: 23px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 26px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #f8f7f4;
}

.modal-feedback-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  font-size: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.modal-feedback-close::before, .modal-feedback-close::after {
  position: absolute;
  content: "";
  display: block;
  top: 9px;
  right: -2px;
  width: 25px;
  height: 2px;
  background-color: #000000;
  cursor: pointer;
}

.modal-feedback-close::before {
  transform: rotate(45deg);
}

.modal-feedback-close::after {
  transform: rotate(-45deg);
}

.modal-feedback h4 {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.feedback-form label {
  position: absolute;
  padding-left: 15px;
  left: 25px;
  top: auto;
  color: #f8f7f4;
  font-size: 11px;
  line-height: 13px;
  font-weight: normal;
}

.feedback-form label:nth-of-type(1) {
  top: 53px;
}

.feedback-form label:nth-of-type(2) {
  top: 116px;
}

.feedback-form label:nth-of-type(3) {
  top: 180px;
}

.feedback-form input {
  position: relative;
  font-family: "Roboto", "Arial", sans-serif;
  width: 265px;
  padding: 9px 15px;
  border: 1px solid #b2b2b2;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  margin-bottom: 20px;
  color: #999999;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  outline: none;
}

.feedback-form input::before {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  font-size: 15px;
  content: "123456";
}

.feedback-form textarea {
  font-family: "Roboto", "Arial", sans-serif;
  width: 425px;
  padding: 9px 15px;
  margin-bottom: 25px;
  border: 1px solid #b2b2b2;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: #999999;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  outline: none;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 2px solid #9a9a9a;
  padding: 8px 14px;
  outline: none;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border: 2px solid #2e88e4;
  padding: 8px 14px;
  outline: none;
  color: #323232;
}

.feedback-form input:valid + label,
.feedback-form textarea:valid + label {
  color: #999999;
}

.feedback-form input:focus + label,
.feedback-form textarea:focus + label {
  color: #2e88e4;
}

.feedback-form input:valid,
.feedback-form textarea:valid {
  font-weight: bold;
  color: #323232;
}


.feedback-form .btn {
  display: block;
  margin-left: auto;
}

.main-footer {
  position: relative;
  background-color: inherit;
  padding-top: 35px;
  padding-bottom: 30px;
}

.footer-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.social-btn {
  display: block;
  margin-right: 15px;
  width: 36px;
  height: 36px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  
  border-radius: 50%;
  background: transparent url("../img/sprite.png");
  opacity: 0.8;
}

.social-btn:hover, .social-btn:active {
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.social-btn:hover {
  opacity: 1;
}

.social-btn:active {
  opacity: 0.8;
  box-shadow: inset 0px 2px 1px 0px #888888;
}

.social-btn-twitter {
  background-position: -10px -788px;
}

.social-btn-inst {
  background-position: -10px -736px;
}

.social-btn-fb {
  background-position: -10px -684px;
}

.social-btn-vk {
  background-position: -10px -840px;
}

.footer-info {
  width: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 50px;
}

.footer-info::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -20px;
  display: block;
  width: 15px;
  height: 13px;
  background: url(../img/sprite.png);
  background-position: -10px -10px;
}

.footer-info li {
  padding-right: 20px;
}

.footer-info a {
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
}

.special-info a {
  font-weight: bold;
}

.footer-copyright p {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.footer-copyright a {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
}

.footer-copyright a:first-child {
  border-bottom: none;
}

.footer-copyright a {
  color: #ffffff;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
}

.breadcrumbs a {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  margin-right: 20px;
}


.breadcrumbs a::after {
  position: absolute;
  color: #ffffff;
  right: -16px;
  top: 0;
  content: "»";
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.breadcrumbs li:last-child a {
  border-bottom: none;
}

.breadcrumbs li:last-child a:hover {
  color: #ffffff;
}

.breadcrumbs li:last-child a::after {
  display: none;
}


.content-wrapper h1 {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.choose-form {
  width: 880px;
  margin-bottom: 35px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.choose-form .select {
  position: relative;
  -ms-flex-preferred-size: 200px;
  flex-basis: 193px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.choose-form select {
  width: 193px;
  position: relative;
  border: none;
  margin-top: 8px;
  margin-bottom: 10px;
  margin-left: -15px;
  padding-left: 11px;
  padding-right: 10px;
  padding-top: 7.6px;
  padding-bottom: 7.6px;
  border-radius: 20px;
  color: transparent;
  background-color: transparent;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  cursor: pointer;
}

.select-indicator::before, .select-indicator::after {
  content: "";
  position: absolute;
  z-index: 20;
  right: -17px;
  bottom: 0px;
  width: 9px;
  height: 9px;
  background-color: #849d8f;
}

.select-indicator::after {
  z-index: 30;
  background-color: rgba(255, 255, 255, 0.2);
}

select:hover + .select-indicator::before,
select:hover + .select-indicator::after{
  background-color: #ffffff;
}

.select-indicator {
  position: absolute;
  right: 17px;
  bottom: 20px;
  content: "";
  width: 0px;
  height: 0px;
  border: 4px solid transparent;
  border-top: 6px solid #ffffff;
}

select:hover + .select-indicator {
  border-top-color: #323232;
}




/*
.select-indicator {
  position: absolute;
  top: 16px;
  width: 193px;
  margin-top: 8px;
  margin-bottom: 10px;
  margin-left: -15px;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 20px;
  border: none;
  background-color: rgba(255, 255, 244, 0.2);
  color: #ffffff;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  cursor: pointer;
}

.select-indicator::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  top: 14px;
  right: 20px;
}

.select-indicator:hover::after {
  background-color: #323232;
}

.select-indicator:hover {
  background-color: #ffffff;
  color: #323232;
}

*/
.choose-form select:hover {
  background-color: #ffffff;
  color: #323232;
}





.range-filter {
  width: 220px;
}

.range-controls {
  position: relative;
  height: 36px;
  padding-top: 17px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.2);
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
  margin-left: 10%;
  width: 50%;
  height: 2px;
  background-color: #ffffff;
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 25px;
}

.range-controls .toggle-max {
  left: 120px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  width: auto;
  margin-left: 7px;
}

.price-controls input {
  margin: 0;
  padding: 0;
  width: 25px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: transparent;
  border: none;
}


.choose-form .fat {
  -ms-flex-preferred-size: 420px;
  flex-basis: 415px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  border: none;
  padding: 0;
}


.choose-form .filler {
  -ms-flex-preferred-size: 700px;
  flex-basis: 700px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  border: none;
  padding: 0;
}

.filler legend, .fat legend {
  padding-left: 14px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filler-inner, .fat-inner {
  padding: 9.2px;
  padding-left: 15px;
  background-color: rgba(255, 255, 244, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}


.filler-inner label, .fat-inner label {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}

.filler-checkbox input[type="checkbox"], .fat-radio input[type="radio"] {
  display: none;
}

.filler-checkbox, .fat-radio {
  position: relative;
  padding-left: 30px;
  padding-right: 10px;
  cursor: pointer;
}

.filler-checkbox input[type="checkbox"] + .checkbox-indicator,
.fat-radio input[type="radio"] + .radio-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.fat-radio input[type="radio"] + .radio-indicator {
  border-radius: 50%;
}

.filler-checkbox:hover input[type="checkbox"] + .checkbox-indicator,
.fat-radio:hover input[type="radio"] + .radio-indicator{
  border-width: 2px;
}

.filler-checkbox input[type="checkbox"]:disabled + .checkbox-indicator,
.fat-radio input[type="radio"]:disabled + .radio-indicator {
  border-color: rgba(255, 255, 255, 0.4);
  cursor: default;
}

.filler-checkbox:hover input[type="checkbox"]:disabled + .checkbox-indicator,
.fat-radio:hover input[type="radio"]:disabled + .radio-indicator {
  border-width: 1px;
}

.filler-checkbox input[type="checkbox"]:disabled ~ span:last-child,
.fat-radio input[type="radio"]:disabled ~ span:last-child {
  color: rgba(255, 255, 255, 0.4);
  cursor: default;
}

.filler-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.filler-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 12px;
  height: 3px;
}

.fat-radio input[type="radio"]:checked + .radio-indicator::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.filler-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
  width: 7px;
  top: 9px;
  left: 2px;
}

.filler-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
  top: 7px;
  left: 5px;
}

.filler-checkbox:hover input[type="checkbox"]:checked + .checkbox-indicator::before {
  top: 8px;
  left: 1px;
}

.filler-checkbox:hover input[type="checkbox"]:checked + .checkbox-indicator::after {
  top: 6px;
  left: 4px;
}

.fat-radio:hover input[type="radio"]:checked + .radio-indicator::before {
  top: 3px;
  left: 3px;
}

.filler-checkbox:hover input[type="checkbox"]:checked:disabled + .checkbox-indicator::before {
  top: 9px;
  left: 2px;
}

.filler-checkbox:hover input[type="checkbox"]:checked:disabled + .checkbox-indicator::after {
  top: 7px;
  left: 5px;
}

.fat-radio:hover input[type="radio"]:checked:disabled + .radio-indicator::before {
  top: 4px;
  left: 4px;
}

.filler-checkbox input[type="checkbox"]:checked:disabled + .checkbox-indicator::before,
.filler-checkbox input[type="checkbox"]:checked:disabled + .checkbox-indicator::after {
  background-color: rgba(255, 255, 255, 0.4);
}

.fat-radio input[type="radio"]:checked:disabled + .radio-indicator::before {
  background-color: rgba(255, 255, 255, 0.4);
}



.choose-form button {
  -ms-flex-preferred-size: 150px;
  flex-basis: 145px;
  border: 2px solid #ffffff;
  padding: 7.2px;
  border-radius: 20px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  align-self: flex-end;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  cursor: pointer;
}

.choose-form button:hover {
  background-color: #ffffff;
  color: #323232;
}

.choose-form button:active {
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px 0px #6c6d6c;
  border: none;
  padding: 9.2px;
}

.catalog-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.catalog-paginator {
  position: relative;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.catalog-paginator li {
  display: block;
  position: relative;
  width: 27px;
  height: 27px;
  border-radius: 50%;
}

.catalog-paginator li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog-paginator li:active {
  background-color: #ffffff;
}

.catalog-paginator li:active a {
  color: #000000;
}


.catalog-paginator a {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
}

.catalog-paginator::before, .catalog-paginator::after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid #ffffff;
  border-right: none;
  border-top: none;
}

.catalog-paginator::before {
  right: 165px;
  top: 8px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0.3;
}


.catalog-paginator::after {
  right: 0px;
  top: 8px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


.page-current {
  background-color: #ffffff;
}

.page-current a {
  color: #000000;
}

.catalog-page .main-footer::before {
  content: "";
  position: absolute;
  bottom: 110px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.3);
  height: 1px;
}

.modal-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 150;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}











