/*
body {
  background-color: #849d8f;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
}

.slider-item-name {
  font-size: 60px;
  line-height: 72px;
  color: #ffffff;
  font-weight: bold;
}

.offer-title {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
}
*/

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1200px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 0px;
  /*Только для оформления сетки*/
  background-color: hotpink;
}

.container {
  width: 1144.8px;
  padding: 0 27.6px;
  margin: 0 auto;
  /*Только для оформления сетки*/
  background-color: #849d8f;
}

.menu-logo {
  float: left;
}

.main-navigation {
  float: left;
  width: 500px;
  /*Только для оформления сетки*/
  background-color: greenyellow;
}

.catalog {
  display: none;
}

.user-block {
  float: right;
  width: 400px;
  /*Только для оформления сетки*/
  background-color: greenyellow;
}

.order {
  display: none;
}

.search-form,
.login-form {
  display: none;
}

.header-info {
  float: right;
  width: 250px;
  margin-top: 20px;
  /*Только для оформления сетки*/
  background-color: greenyellow;
}

.slider {
  /*Только для оформления сетки*/
  background-color: green;
}

.slider-item {
  display: none;
  width: auto;
  text-align: center;
}

.slider-item:first-child {
  display: block;
}

.offer {
  margin-bottom: 40px;
  /*Только для оформления сетки*/
  background-color: red;
}

.offer-left {
  float: left;
  width: 560px;
  /*Только для оформления сетки*/
  background-color: yellow;
}

.offer-right {
  float: right;
  width: 560px;
  /*Только для оформления сетки*/
  background-color: yellow;
}

.hit-gallery {
  margin-bottom: 40px;
  /*Только для оформления сетки*/
  background-color: cyan;
}

.gallery-item {
  float: left;
  width: 266.4px;
  margin-right: 26.4px;
}

.gallery-item:last-child {
  margin-right: 0;
}

.gallery-item img {
  border-radius: 50%;
}

.about {
  margin-bottom: 40px;
  /*Только для оформления сетки*/
  background-color: salmon;
}

.blog {
  float: left;
  width: 560px;
  margin-bottom: 40px;
  /*Только для оформления сетки*/
  background-color: white;
}

.subscribe {
  float: right;
  width: 560px;
  /*Только для оформления сетки*/
  background-color: lime;
}

.map {
  clear: both;
  /*Только для оформления сетки*/
  background-color: red;
  min-height: 250px;
}

.address {
  float: right;
  width: 300px;
  /*Только для оформления сетки*/
  background-color: white;
}

.feedback {
  display: none;
}

.main-footer {
  padding-top: 35px;
  padding-bottom: 30px;
  /*Только для оформления сетки*/
  background-color: aqua;
}

.footer-social {
  float: left;
  width: 267px;
  margin-right: 26px;
  /*Только для оформления сетки*/
  background-color: orange;
}

.footer-info {
  float: left;
  width: 400px;
  /*Только для оформления сетки*/
  background-color: orange;
}

.footer-copyright {
  float: right;
  width: 267px;
  /*Только для оформления сетки*/
  background-color: orange;
}

.breadcrumbs {
  /*Только для оформления сетки*/
  background-color: red;
}

.choose-form {
  width: 880px;
  margin-bottom: 35px;
  /*Только для оформления сетки*/
  background-color: lawngreen;
}

.catalog-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  /*Только для оформления сетки*/
  background-color: lawngreen;
}

.gallery-item {
  width: 267px;
  margin-right: 0px;
  margin-bottom: 40px;
}

.catalog-paginator {
  width: 267px;
  /*Только для оформления сетки*/
  background-color: yellow;
}









